.j-hover-effect {
  &:hover {
    background-color: var(--j-primary-hover-color);
  }
}

.j-active-effect {
  &:active, &.active {
    background-color: var(--j-primary-active-color);
  }
}

.j-icon-btn {
  &:hover {
    background-color: var(--j-item-hover-bg-color);
  }

  &:focus {
    background-color: var(--j-primary-light-color);

    svg {
      fill: var(--j-primary-color);
      color: var(--j-primary-color);
    }
  }
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a {
  color: initial;
  text-decoration: none;
}

html {
  overflow: hidden;
}

.cursor {
  &-pointer {
    cursor: pointer;
  }
}