$j-avatar-size: (
  wrapper: (
    xs: (
      width: 32px,
      height: 32px,
    ),
    s: (
      width: 38px,
      height: 38px,
    ),
  ),
  avatar: (
    xs:(
      width: 24px,
      height: 24px,
    ),
    s:(
      width: 36px,
      height: 36px,
    ),
  ),
);
